* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  /*  background-image: url(./images/project1.jpg);
   background-size: cover;
   background-position: center; */
  background: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 8% 8% 0;
}

.logo {
  color: #ff004f;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #f1f1f1;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #ff004f;
  transition: 0.4s;
}

.btn {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 10px;
  transition: transform 0.4s;
}

.btn:hover {
  transform: scale(1.2);
}

.content {
  color: #f1f1f1;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}

.image {
  width: 100%;
  border-radius: 20px;
}

h1 {
  font-size: 36px;
  color: #f9004d;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

p {
  color: white;
}

.container2 {
  height: 100vh;
  color: greenyellow;
  background-color: #000;
  /*  border: 2px solid yellow; */
  margin: 10%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: horizontal;
}

input[type=submit] {
  color: #45a059;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a059;
}

@media screen and (max-width: 576px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .column {
    width: 100%;
    display: block;
  }
  .content {
    /* border: 2px solid red; */
    color: #f1f1f1;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
  }
  h1 {
    font-size: 28px;
    color: #f9004d;
  }
  nav {
    display: inline-block;
    align-items: center;
  }
  .logo {
    text-align: center;
    margin-bottom: 20%;
    padding-left: 40px;
  }
  .btn {
    padding: 5px 25px;
  }
  nav ul li {
    list-style-type: none;
    display: block;
    align-items: center;
    justify-content: center;
    left: 10%;
    padding: 10px 25px;
    /* border: 2px solid red; */
    padding-bottom: 5px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
  }
  nav ul li a:hover {
    color: #ff004f;
    transition: 0.4s;
  }
}/*# sourceMappingURL=style.css.map */